@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+3:wght@300;400;500;600&display=swap');

:root {
  --white: #ffffff;
  --green: #27694d;
  --yellow: #daa520;
  --red: #ef4444;
  --brown: #383129;
  --black: #2a2622;

  --title: #2b2622;
  --text: #7c736a;
  --border: #E7E2DA;

  --background: #f7f4ef;
  --card: #fcfaf7;
  --secondary: #eeebe4;
  --shadow: #c4b8a8;
  --favorite: #eaf0ed;
}

body {
  background-color: var(--background);
  font-family: 'Source Sans 3', sans-serif;
  color: var(--text);
}

h1, h2, h3 {
  font-family: 'Playfair Display', sans-serif;
  color: var(--title);
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.search-section {
  display: flex;
  max-width: 500px;
  width: 100%;
}

#search-input {
  flex: 1;
  padding: 5px 5px 5px 35px;
  background-color: var(--white);
  border-color: var(--border);
  border-style: solid;
  border-radius: 10px;
  margin: 1px 0;
  outline: none;
  background-image: url('icons/search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
}

#search-button {
  padding: 10px 15px;
  margin-left: 5px;
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

#search-button:hover {
  filter: brightness(0.85);
}
